* {
    margin: 0;
    padding: 0;
}

body {
    height: 110vh;
    width: 100vw;
}

#header {
    height: 15vh;
    width: 100vw;
}


#main {
    height: 80vh;
    width: 100vw;
}

.slide {
    margin-top: 10px;
    margin-bottom: 10px;
}

.slide img {
    height: 35vh;
}



#section-carrusel {
    height: 40vh;
    width: 100vw;
}

#cont-txt-index {
    height: 40vh;
    max-width: 50vw;
    margin-top: 10vh;

}




#footer {
    height: 15vh;
    width: 100vw;
       
}

#logo-footer {
    margin-right: 5vh;
    
}

#footer div ul li {
    list-style-type: none;
}

.contFooter {
    margin: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
}